.todo-app {
  margin: 2rem auto 0 auto;
  max-width: 400px;
}

.top-panel {
  margin: 1rem 0;
}

button {
  margin-left: 20px;
}

body {
  background: url("https://catherineasquithgallery.com/uploads/posts/2021-02/thumbs/1612748430_93-p-fon-dlya-prezentatsii-svetlo-goluboi-odnot-101.jpg") center ;
  width: 100%;
}